
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner { border : none; } 
input[type="submit"]:focus, input[type="button"]:focus { outline : none; }

.clear { 
    clear: both; 
}
.modal-body{
    background: url('../img/1334.png') repeat;
}
#step-form {
    width: 850px;
    margin: 0px auto;
    padding: 10px 0;
    overflow: hidden;
    position: relative;
}
    #step-form #step1, 
    #step2, 
    #step3, 
    #step4,
    #step5,
    #step6,
    #step7,
    #step8,
    #step9,
    #step10 { 
        display: none; 
    }
    #step-form #step1 { display: block; }

    #step-form .form { 
        margin: 10px; 
        padding: 0px auto;
    }
    
    
    #step-form table {
        margin: 10px auto;
        font-size: 14px;
        font-weight: bold;
    }
        #step-form table td {
            padding: 5px 5px;
        }
            #step-form table td:nth-child(2) {
                color: #a90329;
            }   

    #step-form label {
        color: #666;
        font-size: 12px;
        font-weight: bold;
        line-height: 14px;
        float: right;
    }
    

#progress_bar {
    background: url('../img/progress_bar.png') no-repeat;
    width: 339px;
    height: 24px;
    margin: 0 auto;
    position: relative;
}

#progress {
    background: url('../img/progress.png') repeat-x;
    width: 0px;
    height: 23px;
    
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}
#progress_text {
    position: relative;
    line-height: 21px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px #222;
    width: 339px;
    height: 24px;
    top: -23px;
    left: 0;
}


#submit_step1, 
#submit_step2, 
#submit_step3, 
#submit_step4,
#submit_step5, 
#submit_step6, 
#submit_step7, 
#submit_step8,
#submit_step9, 
#submit_step10{
    float: right;
}

