body {
	padding-top: 60px;
	padding-bottom: 40px;
}
.sidebar-nav {
	padding: 9px 0;
}

.modal {
  position: fixed;
  top: 20%;
  left: 35%;
  z-index: 1050;
  max-height: 600px;
  overflow: auto;
  width: 900px;
  margin: -250px 0 0 -280px;
  background-color: #ffffff;
}

/*Windows type thumbs*/

.wtype{
	display: inline-block;
	height:100px;
	position:relative;
	cursor:pointer;
	padding: 10px;
}

.wtype.checked{
	background-color: #FCFC62;
}

/* Превюшки типов окон */

.wtype1_thumb{
	background:url('../img/windows/wtype1_thumb.png') no-repeat 10px 10px;
	min-width:75px;
}
.wtype2_thumb{
	background:url('../img/windows/wtype2_thumb.png') no-repeat 10px 10px;
	min-width:120px;	
}
.wtype3_thumb{
	background:url('../img/windows/wtype3_thumb.png') no-repeat 10px 10px;
	min-width:180px;
}
.wtype4_thumb{
	background:url('../img/windows/wtype4_thumb.png') no-repeat 10px 10px;
	min-width:200px;	
}
.wtype5_thumb{
	background:url('../img/windows/wtype5_thumb.png') no-repeat 10px 10px;
	min-width:129px;
}
.wtype6_thumb{
	background:url('../img/windows/wtype6_thumb.png') no-repeat 10px 10px;
	min-width:143px;	
}
.wtype7_thumb{
	background:url('../img/windows/wtype7_thumb.png') no-repeat 10px 10px;
	min-width:39px;
}
.wtype8_thumb{
	background:url('../img/windows/wtype8_thumb.png') no-repeat 10px 10px;
	min-width:39px;	
}

/* Типы окон двух цветов*/

.wtype1_white{
	background:url('../img/windows/wtype1_white.png') no-repeat 0px 0px;
	width: 226px;
	height: 300px;
}
.wtype1_brown{
	background:url('../img/windows/wtype1_brown.png') no-repeat 0px 0px;
	width: 226px;
	height: 300px;
}
.wtype2_white{
	background:url('../img/windows/wtype2_white.png') no-repeat 0px 0px;
	width: 360px;
	height: 300px;
}
.wtype2_brown{
	background:url('../img/windows/wtype2_brown.png') no-repeat 0px 0px;
	width: 360px;
	height: 300px;
}
.wtype3_white{
	background:url('../img/windows/wtype3_white.png') no-repeat 0px 0px;
	width: 540px;
	height: 300px;
}
.wtype3_brown{
	background:url('../img/windows/wtype3_brown.png') no-repeat 0px 0px;
	width: 540px;
	height: 300px;
}
.wtype4_white{
	background:url('../img/windows/wtype4_white.png') no-repeat 0px 0px;
	width: 600px;
	height: 300px;
}
.wtype4_brown{
	background:url('../img/windows/wtype4_brown.png') no-repeat 0px 0px;
	width: 600px;
	height: 300px;
}
.wtype5_white{
	background:url('../img/windows/wtype5_white.png') no-repeat 0px 0px;
	width: 386px;
	height: 300px;
}
.wtype5_brown{
	background:url('../img/windows/wtype5_brown.png') no-repeat 0px 0px;
	width: 386px;
	height: 300px;
}
.wtype6_white{
	background:url('../img/windows/wtype6_white.png') no-repeat 0px 0px;
	width: 428px;
	height: 300px;
}
.wtype6_brown{
	background:url('../img/windows/wtype6_brown.png') no-repeat 0px 0px;
	width: 428px;
	height: 300px;
}
.wtype7_white{
	background:url('../img/windows/wtype7_white.png') no-repeat 0px 0px;
	width: 116px;
	height: 300px;
}
.wtype7_brown{
	background:url('../img/windows/wtype7_brown.png') no-repeat 0px 0px;
	width: 116px;
	height: 300px;
}
.wtype8_white{
	background:url('../img/windows/wtype8_white.png') no-repeat 0px 0px;
	width: 116px;
	height: 300px;
}
.wtype8_brown{
	background:url('../img/windows/wtype8_brown.png') no-repeat 0px 0px;
	width: 116px;
	height: 300px;
}





.current_window_type{
	margin: 0px auto;
	padding: 0px auto;
	position: relative;
}


.current_window_type div{
	z-index: 100;
}
.current_window_type img{
	z-index: 101;
}


#window_width{
	width: 30px;
	margin: 0px auto;
}
#window_height{
	width: 30px;
}



.color{
	display: block;
	height:20px;
	position:relative;
	cursor:pointer;
	width: 50px;
}

.color.checked{
	background-color: #FCFC62;
}

.white{
	background:url('../img/colors/white.png') no-repeat 5px 5px;
	width:34px;
	height: 35px;
}
.brown{
	background:url('../img/colors/brown.png') no-repeat 5px 5px;
	width:34px;
	height: 35px;	
}